*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

/.idea
*.hprof
*.keystore
gradle.properties
projectFilesBackup/.idea/workspace.xml