<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.xclcharts"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.demo.xclcharts.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.demo.xclcharts.ChartsActivity"
            android:label="@string/title_activity_charts" >
        </activity>
        <activity
            android:name="com.demo.xclcharts.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.demo.xclcharts.SeekBarActivity"
            android:label="@string/title_activity_seek_bar" >
        </activity>
        <activity
            android:name="com.demo.xclcharts.SpinnerActivity"
            android:label="@string/title_activity_spinner" >
        </activity>
        <activity
            android:name="com.demo.xclcharts.MultiTouchActivity"
            android:label="@string/title_activity_multi_touch" >
        </activity>
        <activity
            android:name="com.demo.xclcharts.GradientActivity"
            android:label="@string/title_activity_gradient" >
        </activity>
        <activity
            android:name="com.demo.xclcharts.HBARScrollActivity"
            android:hardwareAccelerated="false"
            android:label="@string/title_activity_hbarscroll" >
        </activity>
        <activity
            android:name="com.demo.xclcharts.HLNScrollActivity"
            android:hardwareAccelerated="false"
            android:label="@string/title_activity_hlnscroll" >

            <!-- 2014-9-30  pand   解决了scrollview超过450dp不显示的问题 -->
        </activity>
        <activity
            android:name="com.demo.xclcharts.CircleChartActivity"
            android:label="@string/title_activity_circle_chart" >
        </activity>
        <activity
            android:name="com.demo.xclcharts.GaugeChartActivity"
            android:label="@string/title_activity_gauge_chart" >
        </activity>
        <activity
            android:name="com.demo.xclcharts.ClickChartsActivity"
            android:label="@string/title_activity_click_charts" >
        </activity>
        <activity
            android:name="com.demo.xclcharts.DialChartActivity"
            android:label="@string/title_activity_dial_chart" >
        </activity>
        <activity
            android:name="com.demo.xclcharts.DialChart2Activity"
            android:label="@string/title_activity_dial_chart2" >
        </activity>
        <activity
            android:name="com.demo.xclcharts.DialChart3Activity"
            android:label="@string/title_activity_dial_chart3" >
        </activity>
        <activity
            android:name="com.demo.xclcharts.DialChart4Activity"
            android:label="@string/title_activity_dial_chart4" >
        </activity>
        <activity
            android:name="com.demo.xclcharts.DySpActivity"
            android:label="@string/title_activity_dy_sp" >
        </activity>
    </application>

</manifest>
